<footer class="footer">

  <div class="container my-2">
    <div class="row p-2">

      <div class="col-md-4 pt-4">
        <h2>StarTourism</h2>
        <p>
          <a class="px-3" href="#">
            <fa class="f-icon" [name]="'facebook'"></fa>
          </a>
          <a class="px-3" href="#">
            <fa class="t-icon" [name]="'twitter'"></fa>
          </a>
          <a class="px-3" href="#">
            <fa class="i-icon" [name]="'instagram'"></fa>
          </a>
        </p>

        <p><a class="px-2">
            <fa [name]="'phone'"></fa>
          </a>: +91 5555 555555
        </p>

        <div class="px-2">
          <p>
            <fa [name]="'home'"></fa>
            Address
          </p>
          <p> Main st, S.V. Road,</p>
          <p> Borivali</p>
          <p> Mumbai</p>
        </div>

      </div>
      <div class="col-md-4 pt-4">
        <h5>Navigation</h5>
        <p><a routerLink="/home">Home</a></p>
        <p><a routerLink="/blog">Blog</a></p>
        <p><a routerLink="/contact">Contact Us</a></p>
      </div>
      <div class="col-md-4 pt-4">
        <h5>Online Portal</h5>
        <p>Booking</p>
        <p>Offers</p>
        <p>Sitemap</p>
      </div>

    </div>
  </div>

  <div id="copyright">
    <div class="container p-1">
      <div class="row">
        <div class="col-md-12 text-center"> Copyright &copy;2018 StarTourism.</div>
      </div>
    </div>
  </div>

</footer>
