<div class="col-md-10 mx-auto">
  <!--Carousel Wrapper-->
  <div id="slides" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
      <li data-target="#slides" data-slide-to="3"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" [src]="simg1" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Light mask</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eos nihil quam amet hic modi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, obcaecati a dicta in necessitatibus minima
            optio corrupti laboriosam omnis ea! Doloremque accusantium suscipit molestiae hic!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg2" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Strong mask</h3>
          <p>SecoLorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eos nihil quam amet hic modi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, obcaecati a dicta in necessitatibus minima
            optio corrupti laboriosam omnis ea! Doloremque accusantium suscipit molestiae hic!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg3" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Slight mask</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eos nihil quam amet hic modi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, obcaecati a dicta in necessitatibus minima
            optio corrupti laboriosam omnis ea! Doloremque accusantium suscipit molestiae hic!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg4" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Slight mask</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eos nihil quam amet hic modi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, obcaecati a dicta in necessitatibus minima
            optio corrupti laboriosam omnis ea! Doloremque accusantium suscipit molestiae hic!</p>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</div>
